@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1110px;
    margin: auto;
}
li{
    list-style: none;
}

h3, a{
    text-decoration: none;
}
.first-screen{
    background-image: url(../imges/first-screet.png);
    height: 800px;
}
.logo{
    width:140px;
    margin-left: 40px; 
    margin-top: 11px;
    margin-bottom: 11px;
}
.header{
    background-color: rgba(0, 91, 193, 0.6);
    display: flex;
    width: 100%;
}
.navigation{
    margin:auto;
    display: flex;
    align-items: center;
}
.navigation li{
    color: white;
    margin-right: 27px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.first-screen__blue{
    height: 715px;
    width: 444px;
    background-color: rgba(0, 91, 193, 0.6);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-screen__info{
    position: relative;
    
    left: 270px;
}
.first-screen__info h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 40px;
    width: 600px;
}

.first-screen__info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    width: 500px;
    margin-bottom: 40px;
}
.first-screen__info button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background-color: rgba(0, 91, 193, 0);
    padding: 15px 40px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    transition: all 0.4s ease;
}
.first-screen__info button:hover{
    background-color: #FFFFFF;
    color: rgba(0, 91, 193, 0.8);
    border-color: rgba(0, 91, 193, 0.8);
}
.projects{
    margin-top: 156px;
}
.projects__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.projects__button{
    width: 55px;
    height: 55px;
    background-color: white;
    border: 2px solid rgba(0, 91, 193, 1);
    cursor: pointer;
}
.projects__button:first-child{
    margin-right: -2px;
}
.button-displ{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-projects{
    display: flex;
    align-items: center;
}
.our-projects h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-left: 40px;
}
.project-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-card{
    width: 540px;
    height: 400px;
    margin-top: 65px;
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}
.project-card__box{
    width: 250px;
    height: 110px;
    background-color: white;
    margin-right: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-card__box h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.project-card__box p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.project-card__box div{
    width: 200px;
}
.olimp1{
    background-image: url(../imges/olimp.png);
    background-size: 100%;
    margin-left: 30px;
}
.olimp{
    background-image: url(../imges/olimp2.png);
    background-size: 100%;
    
}

.info{
    margin-bottom: 70px;
}
.news{
    margin-top: 110px;
    margin-bottom: 120px;
}
.news__button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 15px 35px;
    color: white; 
    background-color: rgba(0, 91, 193, 1);
    border: 2px solid rgba(0, 91, 193, 1);
    cursor: pointer;
    transition: all 0.4s ease;

}
.catalog{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 108px;
}
.catalog-buttons{
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.catalog-buttons p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #005BC1;
    margin-right: 47px;
    border-bottom:2px solid #005BC1;

}
.catalog-cards{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog-card{
    width: 350px;
    height: 300px;
    border: 2px solid #005BC1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}
.catalog-card__text{
    width: 208px;
    margin: auto;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    
    
}
.catalog-card__blue{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
    background-color: #005BC1;
    margin-bottom: 15px;
    width: 265px;
}
.sta{
    background-image:url(../imges/static.png);
    background-size: 100%;
}
.contr{
    background-image:url(../imges/conrtoller.png);
    background-size: 100%;
}
.tri{
    background-image:url(../imges/trinket.png);
    background-size: 100%;
}
.news__button:hover{
    background-color: white;
    color: rgba(0, 91, 193, 1);
}
.catalog-card__blue{

}
.news__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__card-big{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    
}
.news__card-big img{
    width: 255px;
    margin-right: 30px;
}
.big-card-info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}
.big-card-info h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.big-card-info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #979797;

}
.big-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.big-card-info a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343434;
}
.big-card-info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.news__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__card-little{
    width: 225px;
    height: 242px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.news__card-little:first-child{
    margin-right: 60px;
}
.news__card-little:last-child h3{
    width: 100px;
}
.news__card-little div{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.news__card-little p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    color: #343434;
    margin-bottom: 20px;
}
.news__card-little h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 20px;
}
.little-card-img{
    width: 128px;
}
.footer{
    height: 255px;
    background-color: rgba(0, 91, 193, 1);
}
.footer > div{
    display: flex;
    flex-direction: column;
}
.footer .section1{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.section1 p:nth-child(1){
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section1 p:nth-child(2){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.section1 p:nth-child(3){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.footer span{
    display: block;
    border-bottom:1px solid white;
    width: 100%;
    margin-top: 30px;
}
.section2 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section2 a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    width: 200px;
    margin-top: 10px;
}
.section2 {
    width: 600px;
    margin-top: 15px;
}
.section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.section3 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.img-a{
    cursor: pointer;
}
.news__card-little > div >p{
    margin: 0;
}
.chitat{
    margin-top: 21px;
}