@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1110px;
    margin: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.first-screen{
    background-image: url(../imges/first-screet.png);
    height: 800px;
}
.logo{
    width:140px;
    margin-left: 40px; 
    margin-top: 11px;
    margin-bottom: 11px;
}
.header{
    background-color: rgba(0, 91, 193, 0.6);
    display: flex;
    width: 100%;
}
.navigation{
    margin:auto;
    display: flex;
    align-items: center;
}
.navigation li{
    color: white;
    margin-right: 27px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.first-screen__blue{
    height: 715px;
    width: 444px;
    background-color: rgba(0, 91, 193, 0.6);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-screen__info{
    position: relative;
    
    left: 270px;
}
.first-screen__info h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 40px;
    width: 600px;
}

.first-screen__info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    width: 500px;
    margin-bottom: 40px;
}
.first-screen__info button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background-color: rgba(0, 91, 193, 0);
    padding: 15px 40px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    transition: all 0.4s ease;
}
.first-screen__info button:hover{
    background-color: #FFFFFF;
    color: rgb(90, 90, 90);
    border-color: rgb(90, 90, 90);
}
.projects{
    margin-top: 156px;
}
.projects__aboba{
    display: flex;
    align-items: center;
}
.projects__aboba h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-left: 40px;
}
.projects__info{
    margin-bottom: 70px;
}
.footer{
    height: 255px;
    background-color: rgba(0, 91, 193, 1);
}
.footer > div{
    display: flex;
    flex-direction: column;
}
.footer .section1{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.section1 p:nth-child(1){
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section1 p:nth-child(2){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.section1 p:nth-child(3){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.footer span{
    display: block;
    border-bottom:1px solid white;
    width: 100%;
    margin-top: 30px;
}
.section2 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section2 a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    width: 200px;
    margin-top: 10px;
}
.section2 {
    width: 600px;
    margin-top: 15px;
}
.section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.section3 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}