<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Document</title>
</head>

<body>

    <div class="first-screen">
        <header class="header">
            <a href="#"><img src="../imges/logo.png" alt="logo" class="logo"></a>

            <ul class="navigation">
                <a href="#">
                    <li>О компании</li>
                </a>
                <a href="#">
                    <li>Портфолио</li>
                </a>
                <a href="#">
                    <li>Каталог</li>
                </a>
                <a href="#">
                    <li>Сервис</li>
                </a>
                <a href="#">
                    <li>Контакты</li>
                </a>
            </ul>
        </header>
        <div class="container">
            <div class="first-screen__content">
                <div class="first-screen__blue">
                    <div class="first-screen__info">
                        <h1>Светотехническое оборудование в Петербурге</h1>
                        <p>Продажа, аренда светотехнического оборудования.
                            Оформление официальных мероприятий под ключ.</p>
                        <button>Перейти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="projects">
                <div class="projects__info">
                    <div class="our-projects">
                        <img src="../imges/projects-line.png" alt="lines">
                        <h3>НАШИ ПРОЕКТЫ</h3>
                    </div>
                    <div class="projects__buttons">
                        <button class="button-displ projects__button"><img src="../imges/arrow-l.png" alt="arrow-l"></button>
                        <button class="button-displ projects__button"><img src="../imges/arrow-r.png" alt="arrow-r"></button>
                    </div>
                </div>
                <div class="project-cards">
                    <div class="project-card olimp">
                        <div class="project-card__box">
                            <div class="">
                                <h3>ССК "ОЛИМП"</h3>
                                <p>Световое оформление форума “Шубы-2019”</p>
                            </div>
                        </div>
                    </div>
                    <div class="project-card olimp1">
                        <div class="project-card__box">
                            <div>
                                <h3>ССК "ОЛИМП"</h3>
                                <p>Световое оформление форума “Шубы-2019”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog">
                <div class="projects__info catalog__info">
                    <div class="our-projects">
                        <img src="../imges/projects-line.png" alt="lines">
                        <h3>Каталог продукции</h3>
                    </div>
                </div>
                <div class="catalog-buttons">
                    <a href="#"><p>ROBE</p></a>
                    <a href="#"><p>COMPULITE</p></a>
                </div>
                <div class="catalog-cards">
                    <div class="catalog-card sta">
                        <div class="catalog-card__blue">
                            <div class="catalog-card__text">СТАТИЧНЫЕ СВЕТОДИОДНЫЕ ПРИБОРЫ</div>
                        </div>
                    </div>
                    <div class="catalog-card contr">
                        <div class="catalog-card__blue">
                            <div class="catalog-card__text">КОНТРОЛЛЕРЫ</div>
                        </div>
                    </div>
                    <div class="catalog-card tri">
                        <div class="catalog-card__blue">
                            <div class="catalog-card__text">АКСЕССУАРЫ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rent">
                <div class="rent-info">
                    <img src="../imges/projects-line.png" alt="lines">
                    <h3>Аренда оборудования</h3>
                </div>
                <div class="rent__content">
                    <div class="rent__desc">
                        <p class="rent__text">
                            Мы занимаемся прокатом светового и сценического оборудования ведущих мировых производителей, таких как Robe, SGM, StudioDue, ChainMaster, Milos, Universal Effects, ArtLighting, MobilTech, Lampo, Martin, Spotlight, Compulite, Eurolite и др.
                        </p>
                    </div>
                    <div class="rent__equip">
                        <div class="rent__title">
                            <h4 class="rent-title">Новое оборудование, предоставляемое в аренду:</h4>
                            <div class="projects__buttons">
                                <button class="button-displ projects__button"><img src="../imges/arrow-l.png" alt="arrow-l"></button>
                                <button class="button-displ projects__button"><img src="../imges/arrow-r.png" alt="arrow-r"></button>
                            </div>
                        </div>
                        <div class="equip__content">
                            <div class="equip__wrapper"><img src="../imges/trinket.png" alt="product" class="equip__img"></div>
                            <div class="equip__desc">
                                <a href="#" class="equip__title">Robe Robin ParFect 100</a>
                                <ul class="equip__list">
                                    <li class="equip__item">Источник света 12 светодиодов RGBW по 15 Вт каждый</li>
                                    <li class="equip__item">Угол раскрытия 7°</li>
                                    <li class="equip__item">В комплекте рассеивающая линза 40°</li>
                                    <li class="equip__item">Потребляемая мощность 200 Вт</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="news__info info">
                    <div class="our-projects">
                        <img src="../imges/projects-line.png" alt="lines">
                        <h3>НОВОСТИ</h3>
                    </div>
                    <button class="news__button">ВСЕ НОВОСТИ</button>
                </div>
                <div class="news__cards">
                    <div class="news__card-big">
                        <img class="img-a" src="../imges/big_card.png" alt="big card img-a">
                        <div class="big-card-info">
                            <div>
                                <a href="#"><h3>Семинар Milos</h3></a>
                                <p>27.01.2019</p>
                            </div>
                            <p>Наши сотрудники прошли последний семинар от компании Milos.</p>
                            <p>Они получили новый объем знаний, который позволит нашей компании заниматься
                                оборудованием не только мероприятий, но производственных помещений.</p>
                            <a class="chitat" href="#">Читать полностью...</a>
                        </div>
                    </div>
                    <div class="news__card-little">
                        <a href="#"><h3>Выставка Prolight+Sound NAMM Russia 2016</h3></a>
                        <p>30 контрактов, тысячи восторженных посетителей...</p>
                        <div>
                            <img src="../imges/little_card1.png" alt="little card" class="little-card-img img-a">
                            <p>27.01.2019</p>
                        </div>
                    </div>
                    <div class="news__card-little">
                        <a href=""><h3>Семинар Robe</h3></a>
                        <p>30 января 2017 года наши сотрудники побывали в Берлине...</p>
                        <div>
                            <img src="../imges/little_card1.png" alt="little card" class="little-card-img img-a">
                            <p>27.01.2019</p>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>


    </main>
    <footer class="footer">
        <div class="container">
            <div class="section1">
                <p class="section1__number">(812) 710-80-25</p>
                <p>191180, Санкт-Петербург, Набережная реки Фонтанки, 90, корпус 1</p>
                <p>mail@translight.ru</p>
            </div>
            <span></span>
            <div class="section2">
                <ul>
                    <a href="#">
                        <li>О Компании</li>
                    </a>
                    <a href="#">
                        <li>Каталог</li>
                    </a>
                    <a href="#">
                        <li>Наши проекты</li>
                    </a>
                    <a href="#">
                        <li>Новости</li>
                    </a>
                    <a href="#">
                        <li>Аренда</li>
                    </a>
                    <a href="#">
                        <li>Сервисное обсуживание</li>
                    </a>
                </ul>
            </div>
            <span></span>
            <div class="section3">
                <p>© 2019 ЗАО «Транслайт». Все права защищены.</p>
                <p>Разработка и дизайн - D-e-n.ru</p>
            </div>
        </div>
    </footer>
</body>

</html>