<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Document</title>
</head>

<body>

    <div class="first-screen">
        <header class="header">
            <a href="#"><img src="../imges/logo.png" alt="logo" class="logo"></a>

            <ul class="navigation">
                <a href="#">
                    <li>О компании</li>
                </a>
                <a href="#">
                    <li>Портфолио</li>
                </a>
                <a href="#">
                    <li>Каталог</li>
                </a>
                <a href="#">
                    <li>Сервис</li>
                </a>
                <a href="#">
                    <li>Контакты</li>
                </a>
            </ul>
        </header>
        <div class="container">
            <div class="first-screen__content">
                <div class="first-screen__blue">
                    <div class="first-screen__info">
                        <h1>Светотехническое оборудование в Петербурге</h1>
                        <p>Продажа, аренда светотехнического оборудования.
                            Оформление официальных мероприятий под ключ.</p>
                        <button>Перейти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="projects">
                <div class="projects__info">
                    <div class="aboba">
                        <img src="../imges/projects-line.png" alt="lines">
                        <h3>НАШИ ПРОЕКТЫ</h3>
                    </div>
                    <div class="projects__buttons"></div>
                </div>
            </div>
            <div class="news">
                <div class="news__info info">
                    <div class="aboba">
                        <img src="../imges/projects-line.png" alt="lines">
                        <h3>НОВОСТИ</h3>
                    </div>
                    <button class="news__button">ВСЕ НОВОСТИ</button>
                </div>
                <div class="news__cards">
                    <div class="news__card-big">
                        <img src="../imges/big_card.png" alt="big card">
                        <div class="big-card-info">
                            <div>
                                <h3>Семинар Milos</h3>
                                <p>27.01.2019</p>
                            </div>
                            <p>Наши сотрудники прошли последний семинар от компании Milos.</p>
                            <p>Они получили новый объем знаний, который позволит нашей компании заниматься
                                оборудованием не только мероприятий, но производственных помещений.</p>
                            <a href="#">Читать полностью...</a>
                        </div>
                    </div>
                    <div class="news__card-little">
                        <h3>Выставка Prolight+Sound NAMM Russia 2016</h3>
                        <p>30 контрактов, тысячи восторженных посетителей...</p>
                        <div>
                            <img src="../imges/little_card1.png" alt="little card" class="little-card-img">
                            <p>27.01.2019</p>
                        </div>
                    </div>
                    <div class="news__card-little">
                        <h3>Семинар Robe</h3>
                        <p>30 января 2017 года наши сотрудники побывали в Берлине...</p>
                        <div>
                            <img src="../imges/little_card1.png" alt="little card" class="little-card-img">
                            <p>27.01.2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <footer class="footer">
        <div class="container">
            <div class="section1">
                <p class="section1__number">(812) 710-80-25</p>
                <p>191180, Санкт-Петербург, Набережная реки Фонтанки, 90, корпус 1</p>
                <p>mail@translight.ru</p>
            </div>
            <span></span>
            <div class="section2">
                <ul>
                    <a href="#">
                        <li>О Компании</li>
                    </a>
                    <a href="#">
                        <li>Каталог</li>
                    </a>
                    <a href="#">
                        <li>Наши проекты</li>
                    </a>
                    <a href="#">
                        <li>Новости</li>
                    </a>
                    <a href="#">
                        <li>Аренда</li>
                    </a>
                    <a href="#">
                        <li>Сервисное обсуживание</li>
                    </a>
                </ul>
            </div>
            <span></span>
            <div class="section3">
                <p>© 2019 ЗАО «Транслайт». Все права защищены.</p>
                <p>Разработка и дизайн - D-e-n.ru</p>
            </div>
        </div>
    </footer>
</body>

</html>