<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Document</title>
</head>
<body>
    
        <div class="first-screen">
            <header class="header">
                <a href="#"><img src="../imges/logo.png" alt="logo" class="logo"></a>

                <ul class="navigation">
                    <a href="#"><li>О компании</li></a>
                    <a href="#"><li>Портфолио</li></a>
                    <a href="#"><li>Каталог</li></a>
                    <a href="#"><li>Сервис</li></a>
                    <a href="#"><li>Контакты</li></a>
                </ul>
            </header>
            <div class="container container-first-screen">
                <div class="first-screen__content">
                    <div class="first-screen__blue">
                        <div class="first-screen__info">
                            <h1>Светотехническое оборудование в Петербурге</h1>
                            <p>Продажа, аренда светотехнического оборудования.
                                Оформление официальных мероприятий под ключ.</p>
                            <button>Перейти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    
</body>
</html>